@import '@styles/base';

:root {
  --white: #ffffff;
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-hrayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  --black: hsl(240, 6%, 6%);
  --text-body: hsl(240, 6%, 6%);
  --text-header: #ffffff;
  --bg-color: hsl(0, 0%, 98%);
}

@import url('https://fonts.googleapis.com/css2?family=REM:wght@500;800&family=Work+Sans&display=swap');
// ==================================================================================================================
* {
  font-family: 'REM', sans-serif;
}
.light {
  width: 100vw;
  // height: 100vh;
  min-height: 100vh;
  background-image: url('/src/static/images/bg-desktop-light.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  background-color: hsl(236, 33%, 92%);

  .containerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 8px;
    @include apply-at-md-size-max {
      width: 80%;
    }
    .containerheader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      border-radius: 8px;
      .logo {
        color: #ffffff;
        font-size: 2rem;
        font-weight: bold;
      }
      .icon {
        color: #ffffff;
        padding: 10px;
        .modeButton {
          color: #ffffff;
        }
      }
    }
    .containerinput {
      width: 100%;
      margin-top: 1rem;
      height: 50px;
      .input {
        background-color: hsl(0, 0%, 98%);
        border-radius: 8px;
        border-color: white;
        width: 99%;
        height: 100%;
        font-size: 20px;
      }
    }
    .containerList {
      width: 100%;
      margin-top: 1rem;
      background-color: hsl(0, 0%, 98%);
      color: var(--text-body);
      height: auto;
      max-height: 300px;
      min-height: 100px;
      overflow: auto;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      @include apply-at-md-size-max {
        height: auto;
        max-height: 250px;
      }
      .notask {
        padding: 20px;
        text-align: center;
      }
      .checkbox {
        width: 25px;
        height: 25px;
      }
      .listData {
        border-bottom: 1px solid hsl(234, 39%, 85%);
        .editBox {
          .inputEdit {
            height: 40px;
            width: 350px;
            border-style: none;
            font-size: 1rem;
            @include apply-at-md-size-max {
              height: 30px;
              max-width: 200px;
            }
          }
        }
      }
      .coret {
        text-decoration: line-through;
        text-decoration-color: hsl(235, 21%, 11%);
      }
    }
    .footerList {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      background-color: hsl(0, 0%, 98%);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      .menu {
        margin-top: 10px;
        padding: 15px;
        font-size: 15px;
        cursor: pointer;
        @include apply-at-md-size-max {
          display: none;
        }
      }
      .menu:hover {
        padding-top: 6px;
        transition-duration: 0.2s;
        font-weight: bold;
      }
    }
    .footerListPhone {
      display: none;
      @include apply-at-md-size-max {
        display: flex;
        flex-direction: column;
        width: 100%;
        .footerUp {
          background-color: hsl(0, 0%, 98%);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 5px;
          font-size: 15px;
          color: var(--text-body);
          cursor: pointer;
          height: 50px;
          line-height: 50px;
          border-top: 1px solid hsl(234, 39%, 85%);
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        .footerUp div:hover {
          padding-top: 6px;
          transition-duration: 0.2s;
          font-weight: bold;
        }
        .footerDown {
          background-color: hsl(0, 0%, 98%);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 5px;
          font-size: 15px;
          color: var(--text-body);
          cursor: pointer;
          height: 50px;
          line-height: 50px;
          margin-top: 20px;
          border-radius: 8px;
        }
        .footerDown div:hover {
          padding-top: 6px;
          transition-duration: 0.2s;
          font-weight: bold;
        }
      }
    }
    .containerFooter {
      margin-top: 3rem;
      background-color: hsl(236, 33%, 92%);
      font-size: 15px;
    }
  }
}
// =========================================================================================================================
// tema gelap
.dark {
  width: 100vw;
  min-height: 100vh;
  background-image: url('/src/static/images/bg-desktop-dark.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  background-color: hsl(235, 21%, 11%);
  .containerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    @include apply-at-md-size-max {
      width: 80%;
    }
    .containerheader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      .logo {
        color: #ffffff;
        font-size: 2rem;
        font-weight: bold;
      }
      .icon {
        color: #ffffff;
        padding: 10px;
        .modeButton {
          color: #ffffff;
        }
      }
    }
    .containerinput {
      width: 100%;
      margin-top: 1rem;
      color: #ffffff;
      height: 50px;
      .input {
        background-color: hsl(235, 24%, 19%);
        border-radius: 4px;
        color: #ffffff;
        width: 99%;
        height: 100%;
        font-size: 20px;
        border-color: hsl(235, 24%, 19%);
        border-radius: 8px;
      }
    }
    .containerList {
      width: 100%;
      margin-top: 1rem;
      background-color: hsl(235, 24%, 19%);
      color: #ffffff;
      height: auto;
      max-height: 300px;
      min-height: 100px;
      overflow: auto;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      @include apply-at-md-size-max {
        height: auto;
        max-height: 250px;
      }
      .notask {
        padding: 20px;
        text-align: center;
      }
      .checkbox {
        width: 25px;
        height: 25px;
      }
      .listData {
        border-bottom: 1px solid hsl(234, 39%, 85%);
        .editBox {
          .inputEdit {
            height: 40px;
            width: 350px;
            border-style: none;
            font-size: 1rem;
            background-color: gray;
            border-radius: 5px;
            box-shadow: 3px, 3px lightgray;
            color: #ffffff;
            @include apply-at-md-size-max {
              height: 30px;
              max-width: 200px;
            }
          }
        }
      }
      .coret {
        text-decoration: line-through;
        text-decoration-style: solid;
      }
    }
    .footerList {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      background-color: hsl(235, 24%, 19%);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      .menu {
        margin-top: 10px;
        padding: 15px;
        font-size: 15px;
        color: #ffffff;
        cursor: pointer;
        @include apply-at-md-size-max {
          display: none;
        }
      }
      .menu:hover {
        padding-top: 6px;
        transition-duration: 0.2s;
        font-weight: bold;
      }
    }
    .footerListPhone {
      display: none;
      @include apply-at-md-size-max {
        display: flex;
        flex-direction: column;

        width: 100%;
        .footerUp {
          background-color: hsl(235, 24%, 19%);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 10px;
          font-size: 15px;
          color: #ffffff;
          cursor: pointer;
          height: 50px;
          line-height: 50px;
          border-top: 1px solid hsl(234, 39%, 85%);
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        .footerUp div:hover {
          padding-top: 6px;
          transition-duration: 0.2s;
          font-weight: bold;
        }
        .footerDown {
          background-color: hsl(235, 24%, 19%);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 10px;
          font-size: 15px;
          color: #ffffff;
          cursor: pointer;
          height: 50px;
          line-height: 50px;
          margin-top: 20px;
          border-radius: 8px;
          border-radius: 8px;
        }
        .footerDown div:hover {
          padding-top: 6px;
          transition-duration: 0.2s;
          font-weight: bold;
        }
      }
    }
    .containerFooter {
      margin-top: 3rem;
      background-color: hsl(235, 21%, 11%);
      color: #ffffff;
      font-size: 15px;
    }
  }
}
